<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyl.mapper.BillMapper">
    
	<sql id="billQryBase">
		SELECT
			C_ID 'id',
			C_TITLE 'title',
			C_PRICE 'price',
			C_TYPE 'type',
			C_USE_FOR 'useFor',
			C_USE_PERSON 'usePerson',
			C_MONEY_TYPE 'moneyType',
			C_STATUS_CD 'statusCd',
			C_REMARK 'remark',
			C_CREATE_USER 'createUser',
			C_CREATE_DATE 'createDate',
			C_UPDATE_USER 'updateUser',
			C_UPDATE_DATE 'updateDate'
		FROM T_BILL
		<where>
			<if test="title != null and title !='' ">
				AND C_TITLE LIKE CONCAT(CONCAT('%',#{title}),'%')
			</if>
			<if test="type != null and type !='' ">
				AND C_TYPE = #{type}
			</if>
			<if test="useFor != null and useFor !='' ">
				AND C_USE_FOR = #{useFor}
			</if>
			<if test="moneyType != null and moneyType !='' ">
				AND C_MONEY_TYPE = #{moneyType}
			</if>
			<if test="statusCd != null and statusCd !='' ">
				AND C_STATUS_CD = #{statusCd}
			</if>
			<if test="createDateStart != null and createDateStart !='' ">
				<![CDATA[ AND C_CREATE_DATE >= createDateStart]]>
			</if>
			<if test="createDateEnd != null and createDateEnd !='' ">
				<![CDATA[ AND C_CREATE_DATE < #{createDateEnd}]]>
			</if>
			<if test="startNum != null and startNum !='' and endNum != null and endNum !='' ">
				limit startNum,endNum
			</if>
			
		</where>
	</sql>
	
	<select id="getBillCount" parameterType="java.util.Map" resultType="java.lang.Long" >
		select count(1) from (
			<include refid="billQryBase"></include>
		) t
	</select>
    
    <select id="getBillList" parameterType="java.util.Map" resultType="com.wyl.entity.BillVO" >
		<include refid="billQryBase"></include>
    </select>
</mapper>