<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyl.mapper.BillMapper">
    
	<sql id="billQryBase">
		SELECT
			T.C_ID 'id',
			T.C_TITLE 'title',
			T.C_PRICE 'price',
			T.C_TYPE 'type',
			(SELECT C_CODE_NAME FROM T_CONFIG_CODES C WHERE C.C_TABLE_NAME = 'T_BILL'  AND C.C_STATUS_CD = 0 AND C.C_COLUMN_NAME = 'C_TYPE' AND C.C_CODE = T.C_TYPE) 'typeName',
			T.C_USE_FOR 'useFor',
			(SELECT C_CODE_NAME FROM T_CONFIG_CODES C WHERE C.C_TABLE_NAME = 'T_BILL'  AND C.C_STATUS_CD = 0 AND C.C_COLUMN_NAME = 'C_USE_FOR' AND C.C_CODE = T.C_USE_FOR) 'useForName',
			T.C_USE_PERSON 'usePerson',
			T.C_MONEY_TYPE 'moneyType',
			(SELECT C_CODE_NAME FROM T_CONFIG_CODES C WHERE C.C_TABLE_NAME = 'T_BILL'  AND C.C_STATUS_CD = 0 AND C.C_COLUMN_NAME = 'C_MONEY_TYPE' AND C.C_CODE = T.C_MONEY_TYPE) 'moneyTypeName',
			T.C_STATUS_CD 'statusCd',
			(SELECT C_CODE_NAME FROM T_CONFIG_CODES C WHERE C.C_TABLE_NAME = 'T_BILL'  AND C.C_STATUS_CD = 0 AND C.C_COLUMN_NAME = 'C_STATUS_CD' AND C.C_CODE = T.C_STATUS_CD) 'statusCdName',
			T.C_REMARK 'remark',
			T.C_CREATE_USER 'createUser',
			T.C_CREATE_DATE 'createDate',
			T.C_UPDATE_USER 'updateUser',
			T.C_UPDATE_DATE 'updateDate'
		FROM T_BILL T
		<where>
			<if test="title != null and title !='' ">
				AND T.C_TITLE LIKE CONCAT(CONCAT('%',#{title}),'%')
			</if>
			<if test="type != null and type !='' ">
				AND T.C_TYPE = #{type}
			</if>
			<if test="useFor != null and useFor !='' ">
				AND T.C_USE_FOR = #{useFor}
			</if>
			<if test="moneyType != null and moneyType !='' ">
				AND T.C_MONEY_TYPE = #{moneyType}
			</if>
			<if test="statusCd != null and statusCd !='' ">
				AND T.C_STATUS_CD = #{statusCd}
			</if>
			<if test="createDateStart != null and createDateStart !='' ">
				<![CDATA[ AND T.C_CREATE_DATE >= createDateStart]]>
			</if>
			<if test="createDateEnd != null and createDateEnd !='' ">
				<![CDATA[ AND T.C_CREATE_DATE < #{createDateEnd}]]>
			</if>
			<if test="billId != null and billId !='' ">
				AND T.C_ID = #{billId}
			</if>
		</where>
		<!-- <if test="startNum != null and startNum !='' and endNum != null and endNum !='' ">
			limit #{startNum},#{endNum}
		</if> -->
	</sql>
	
	<select id="getBillCount" parameterType="java.util.Map" resultType="java.lang.Long" >
		select count(1) from (
			<include refid="billQryBase"></include>
		) t
	</select>
    
    <select id="getBillList" parameterType="java.util.Map" resultType="com.wyl.entity.BillVO" >
		<include refid="billQryBase"></include>
		<if test="startNum != null and startNum !='' or startNum == 0 and endNum != null and endNum !='' or  endNum== 0">
			limit #{startNum},#{endNum}
		</if>
    </select>
    
    <update id="updateBillById" parameterType="java.util.Map">
    	UPDATE T_BILL B
    	<set>
    		B.C_UPDATE_DATE = NOW(),
			<if test="billTitle != null and billTitle != '' ">
			 	B.C_TITLE = #{billTitle},
			</if>
			<if test="price != null and price != '' ">
			 	B.C_PRICE = #{price},
			</if>
			<if test="billType != null and billType != '' ">
			 	B.C_TYPE = #{billType},
			</if>
			<if test="useFor != null and useFor != '' ">
			 	B.C_USE_FOR = #{useFor},
			</if>
			<if test="moneyType != null and moneyType != '' ">
			 	B.C_MONEY_TYPE = #{moneyType},
			</if>
			<if test="remark != null and remark != '' ">
			 	B.C_REMARK = #{remark},
			</if>
		</set>
		WHERE C_ID = #{billId}
    </update>
</mapper>