<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyl.mapper.OperLogMapper">
	<insert id="insertOperLog" parameterType="com.wyl.entity.OperLogVO">
		INSERT INTO T_OPER_LOG(
			C_ID,
			C_OPER_NAME,
			C_OPER_METHOD,
			C_OPER_DATE,
			C_OPER_USER,
			C_OPER_REQ,
			C_OPER_RES,
			C_OPER_TYPE
		)VALUES(
			#{id},
			#{operName},
			#{operMethod},
			#{operDate},
			#{operUser},
			#{operReq},
			#{operRes},
			#{operType}
		)
	</insert>
</mapper>