<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyl.mapper.UserMapper">
    <!-- <typeAlias alias="UserVO" type="com.wyl.entity.UserVO" />
    	
	<resultMap id="UserMap" class="UserVO">
	
		<result property="accNum" column="ACCNUM" />
		<result property="password" column="PASSWORD" />
		
	</resultMap> -->
    
   <!--  <select id="qryUserByAccNum" parameterType="java.lang.String" resultType="java.lang.Integer" >
    	select count(1) from staff t where t.staff_id = #{accNum}
    </select> -->
    
    
	<select id="qryUserByAccNum" parameterType="java.lang.String" resultType="com.wyl.entity.UserVO" >
    	select 
    		C_ID 'id', 
    		C_NAME 'name',
    		C_ACC_NUM 'accNum',
    		C_PASSWORD 'password',
    		C_STATUS_CD 'statusCd' 
    	from T_USER
    	where C_ACC_NUM = #{accNum}
    		and C_STATUS_CD = 0
    </select>
</mapper>